<p class="c-titulo-principal g-padding-top-8 ">KEBAB LOS GORJES</p>
<hr />
<div class="c-slider__background g--margin-top-9 g--margin-bottom-9 g-padding-top-2 g-padding-bottom-2 ">
    <div class="c-slider c-slider--frame">
        <ul>
            <li><img src="../../../assets/slider1.jpg" alt=""></li>
            <li><img src="../../../assets/slider2.jpg" alt=""></li>
            <li><img src="../../../assets/slider3.jpg" alt=""></li>
            <li><img src="../../../assets/slider4.jpg" alt=""></li>
        </ul>
    </div>
</div>

<div class="l-centrar">

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>¿Quiénes
            somos?</b></div>
    <div class="">¡Hola, amigos del buen comer! En nuestro humilde local, nos dedicamos a una cosa:
        ¡hacer los mejores kebabs de Aldaia! Nuestra pasión por la comida deliciosa y la satisfacción de nuestros
        clientes nos impulsa a superarnos día a día. En Kebab Los Gorjes, no solo nos importa lo que servimos en tu
        plato, sino también la experiencia que tienes al disfrutarlo. ¡Ven y conócenos! Con ingredientes frescos,
        técnicas tradicionales y un toque de creatividad, estamos aquí para deleitar tu paladar y hacerte sentir como en
        casa.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>Nuestra
            Historia</b></div>
    <div class="">Desde que abrimos nuestras puertas, nuestra misión ha sido simple: ofrecer a nuestros
        clientes la combinación perfecta de calidad y buenos precios. ¿Cómo lo logramos? ¡Con mucho esfuerzo y pasión
        por lo que hacemos! Cada día nos esforzamos por mejorar y aprender para seguir siendo tu opción favorita cuando
        se trata de kebabs deliciosos y asequibles. Nuestra historia está llena de momentos especiales y desafíos
        superados. Desde nuestros primeros días en el negocio hasta el éxito que disfrutamos hoy, hemos mantenido
        nuestro compromiso con la excelencia y la satisfacción del cliente.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>Calidad a
            Precio Justo</b></div>
    <div class="">Nos enorgullece decir que cada kebab que sale de nuestra cocina está hecho con los
        ingredientes más frescos y deliciosos. Y lo mejor de todo es que lo hacemos sin romper tu alcancía. Creemos
        firmemente que todos merecen disfrutar de una comida deliciosa sin tener que gastar una fortuna. Así que si
        estás buscando un lugar donde puedas saborear la mejor calidad sin vaciar tu cartera, ¡has llegado al sitio
        indicado! Nuestro compromiso con la calidad y la atención al detalle se refleja en cada bocado que pruebas. Ven
        y descubre la diferencia que hace una verdadera pasión por la comida.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>Nuestro
            Compromiso</b></div>
    <div class="">En Kebab Los Gorjes, no nos conformamos con ser solo otro restaurante de kebabs. Nos
        esforzamos por ser un lugar donde la gente se sienta bienvenida y apreciada. Nuestro compromiso con la
        excelencia se extiende a todos los aspectos de nuestro negocio, desde la calidad de nuestros ingredientes hasta
        la experiencia que ofrecemos a nuestros clientes. Creemos en la importancia de crear conexiones genuinas con las
        personas que nos eligen para satisfacer su hambre y su amor por la buena comida. Con cada plato que servimos,
        buscamos superar las expectativas y brindar momentos memorables a todos los que nos visitan.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>Nuestro
            Equipo</b></div>
    <div class="">Detrás de cada kebab delicioso hay un equipo apasionado que trabaja arduamente para
        ofrecerte la mejor experiencia culinaria. Nuestros chefs expertos combinan habilidad y creatividad para preparar
        platos que deleitarán tu paladar y te dejarán con ganas de más. Nuestro personal de servicio al cliente está
        aquí para garantizar que cada visita sea especial y que te sientas como en casa desde el momento en que entras
        por la puerta. Juntos, trabajamos en armonía para hacer de Kebab Los Gorjes tu destino gastronómico favorito.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 g--margin-left-5 "><b>Nuestra
            Misión</b></div>
    <div class="">Nuestra misión en Kebab Los Gorjes es simple pero poderosa: queremos ser el lugar al
        que acudas cuando necesites un delicioso kebab que satisfaga tus antojos y tus expectativas. Nos esforzamos por
        ofrecerte una experiencia gastronómica excepcional cada vez que nos visites. Ya sea que estés buscando una
        comida rápida entre amigos o una cena relajada con la familia, estamos aquí para superar tus expectativas y
        brindarte un servicio de primera clase. Ven y únete a nosotros mientras celebramos la buena comida, la buena
        compañía y la buena vida en Kebab Los Gorjes.
    </div>
</div>

<div class="l-columns l-columns--4@tablet l-columns--4@desktop g-padding-top-10 g-padding-left-5 g-padding-right-5">
    <div class="c-etiquetas c-border c-border__black">
        <div class="c-texto-centrar g-padding-top-9">CALIDAD MÁXIMA</div>
        <hr class="g--margin-left-11 g--margin-right-11">
        <div class="g-padding-left-5 g-padding-right-5 c-texto-centrar c-texto-centrar--verticalmente">Seleccionamos cuidadosamente las mejores carnes para garantizar la mayor calidad</div>
    </div>
    <div class="c-etiquetas c-border c-border__black">
        <div class="c-texto-centrar g-padding-top-9">SABOR TRADICIONAL</div>
        <hr class="g--margin-left-11 g--margin-right-11">
        <div class="g-padding-left-5 g-padding-right-5 c-texto-centrar c-texto-centrar--verticalmente">Mantenemos la receta original manteniendo el sabor del kebab turco aqui en España</div>
    </div>
    <div class="c-etiquetas c-border c-border__black">
        <div class="c-texto-centrar g-padding-top-9">CERTIFICADO HALAL</div>
        <hr class="g--margin-left-11 g--margin-right-11">
        <div class="g-padding-left-5 g-padding-right-5 c-texto-centrar c-texto-centrar--verticalmente">Cumplimos todos los requisitos exigidos por la Ley Islámica para su consumo</div>
    </div>
    <div class="c-etiquetas c-border c-border__black">
        <div class="c-texto-centrar g-padding-top-9">CERTIFICADO IFS</div>
        <hr class="g--margin-left-11 g--margin-right-11">
        <div class="g-padding-left-5 g-padding-right-5 c-texto-centrar c-texto-centrar--verticalmente">Contamos con certificado IFS, como garantía de calidad y seguridad alimentaria</div>
    </div>
</div>