<div class="l-columns l-columns--6@desktop l-columns--3@tablet l-centrar">
    <div class="c-listadoProductos c-boxshadow  g-padding-top-8 g--margin-top-8 g-padding-right-8 g-padding-left-8 g--margin-left-10 ">
        <h1 class="c-titulo-principal g--margin-bottom-8">Listado de Productos</h1>
        <div class="l-columns l-columns--4@tablet l-columns--6@desktop">
            @for (producto of productos; track productos){
                <div class="c-productos g-padding-top-8 g--margin-right-bottom-5" >
                    <div (click)="verDetalleProducto(producto.productoId)">
                        <img class="c-productoImagen" [src]="producto.imageUrl" alt="{{ producto.nombre }}" />
                        <h3>{{ producto.nombre }}</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>