$colors: (
        "primary": (#DCEBFE, #BEDBFE, #91C3FD, #61A6FA, #3C83F6, #2463EB, #1D4FD7, #1E3FAE, #1E3B8A),
        "alternative": (#FEF3C8, #FDE68B, #FCD44F, #FBBD23, #F59F0A, #DB7706, #B35309, #91400D, #76350F),
        "greys": (#f0f0f0, #D9D9D9, #C2C2C2, #ABABAB, #949494, #7D7D7D, #666666, #4F4F4F, #383838),
        "white": (#FFFFFF, #FCFCFC, #FAFAFA, #F7F7F7, #F5F5F5, #F2F2F2, #F0F0F0, #EDEDED, #EBEBEB),
        "reds": (#FEE1E1, #FEC8C8, #FCA6A6, #F87272, #EF4343, #DC2828, #BA1C1C, #981B1B, #811D1D),
        "greens": (#E3F9E5, #C5EBCA, #A6DDAF, #84CE96, #61BE7E, #47A766, #3D9149, #317A3C, #2B6B34),
        "blues": (#DDEEFB, #BDD7F8, #97BFF5, #6D9EEB, #4D7DDA, #375CC5, #2F4FBF, #263D9C, #1F3182),
        "yellows": (#FEF9C8, #FEF08A, #FDE047, #FACC15, #E9B814, #D4A013, #B7830F, #975A16, #7C421F, #e0e0c5)
);

$g-color-backgroundId: #e0e0c5;
$g-color-backgroundDesplegable: #9A5A2C;
$g-color-White: #fff;
$g-color-backgroundTheme: #7B4623;
$g-color-backgroundLightBrown: #e0e0c5;
$g-color-Black: #000000;
$g-color-lightOrange: #FFDAB9;



$margins: 0px, 4px, 6px, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px;
$paddings: 0px, 4px, 6px, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px;


$breakpoints:(
  'tablet':900px,
  'desktop':1500px,
  'fulldesktop':1500px
);

