<b><p class="c-titulo-principal g-padding-top-8 g-padding-bottom-5">Política de privacidad</p></b>
<hr class="g--margin-bottom-8 l-centrar">
<div class="l-centrar">
    <div>Última actualización: 08/04/2024
        Kebab los Gorjes os informa que en esta página encontrareis todo sobre nuestras políticas con respecto a la
        recopilación, uso y divulgación de información personal que recibimos de los usuarios del Sitio.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Información de Identificación Personal</div>
    <div>Nosotros no recopilamos información de identificación personal de forma automática cuando visitas nuestro
        Sitio. Sin embargo, podemos recopilar información de identificación personal, como nombres, direcciones de
        correo electrónico, números de teléfono, etc., solo cuando los usuarios la envían voluntariamente a través de
        formularios de contacto, pedidos en línea o registros de cuentas.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Uso de la Información Personal</div>
    <div>La información personal proporcionada por los usuarios se utiliza únicamente para responder a consultas,
        procesar pedidos o proporcionar servicios solicitados. No compartimos esta información con terceros, a menos que
        sea necesario para cumplir con los servicios solicitados por el usuario o requerido por la ley. Utilizamos medidas
        de seguridad para proteger la información personal contra accesos no autorizados, alteraciones, divulgaciones o
        destrucciones no autorizadas.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Cookies y Tecnologías de Rastreo</div>
    <div>Nuestro Sitio puede utilizar cookies y otras tecnologías de seguimiento para mejorar la experiencia del usuario.
        Estas tecnologías pueden recopilar información como la dirección IP, el tipo de navegador, la página visitada y
        otros datos de uso del sitio. Los usuarios tienen la opción de aceptar o rechazar cookies mediante la configuración
        de su navegador.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Enlaces a Terceros</div>
    <div>Nuestro Sitio puede contener enlaces a sitios web de terceros que no están bajo nuestro control. No somos
        responsables de las prácticas de privacidad o el contenido de estos sitios web. Se recomienda a los usuarios que
        revisen las políticas de privacidad de estos sitios antes de proporcionar cualquier información personal.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Cambios a esta Política de Privacidad</div>
    <div>Nos reservamos el derecho de actualizar o cambiar nuestra Política de Privacidad en cualquier momento y debes
        revisarla periódicamente. Los cambios serán efectivos inmediatamente después de su publicación en esta página.
    </div>

    <div class="c-titulo__secundario g-padding-top-8 g-padding-bottom-8 ">Contacto</div>
    <div>Si tienes alguna pregunta sobre esta Política de Privacidad, no dudes en contactarnos a través de <a
            href="mailto:kebablosgorjes@gmail.com">kebablosgorjes</a>.
        Al utilizar este Sitio, aceptas esta Política de Privacidad. Si no estás de acuerdo con esta Política, por favor
        no utilices nuestro Sitio.
    </div>
</div>
