<div class="c-titulo-principal g-padding-top-8 g--margin-bottom-8">Mi Carrito</div>
<hr />
<div class="l-centrar">
    <div class=" g--margin-top-8">
        @if(cartItems.length > 0){
            <div class="c-listadoProductos c-boxshadow g--margin-bottom-8">
                <div class="l-columns l-columns--3@tablet l-columns--4@desktop">
                    @for (item of cartItems; track cartItems ;let i = $index){
                    <div class="l-columns l-columns--1@tablet">
                        <img class="c-cart-product__image" [src]="item.imageUrl" alt="{{ item.nombre }}">
                    </div>
                    <div class="c-cart-product l-columns__area--span-2@tablet l-columns__area--span-3@desktop">
                        <div class="c-titulo__secundario g-padding-top-10"><b>{{ item.nombre.toUpperCase() }}</b></div>
                        <div class="c-titulo__subtitulo g--margin-top-7">{{ item.descripcion }}</div>
                        <div class="c-titulo__subtitulo g--margin-top-7"><b>Precio: </b>{{ item.precio }} €</div>
                        <div>
                            <b>Cantidad: </b>
                            <button class="c-boton__option-cart  g--margin-top-7"
                                (click)="decreaseQuantity(i)">-</button>
                            {{ item.quantity }}
                            <button class="c-boton__option-cart" (click)="increaseQuantity(i)">+</button>
                        </div>
                        <div class="l-centrar__derecha g-padding-right-20">
                            <button class="c-boton__option-cart c-boton__option-cart--borrar  g--margin-top-7"
                                (click)="removeFromCart(i)">Eliminar</button>
                        </div>
                    </div>
                    }
                </div>
                <div class="l-centrar__derecha">
                    <div class=" g--margin-right-10 g--margin-bottom-5 c-titulo__secundario">
                        Total: {{ totalPrice }} €
                    </div>
                </div>
                <div class="l-centrar__derecha">
                    <button class="c-boton c-boton--succes g-padding-5 g--margin-right-13 g--margin-bottom-10" >Pedir</button>
                </div>
            </div>
        } @else () {
            <div class="c-titulo__secundario l-centrar__texto g--margin-bottom-7">No hay elementos en el carrito</div>
        }
    </div>
</div>