.l-centrar{
    margin-left: 5%;
    margin-right: 5%;
}

.l-centrar__derecha{
    display: flex;
    justify-content: flex-end;
}

.l-centrar__centro{
    display: flex;
    justify-content: center;
}

.l-centrar__texto{
    text-align: center;
}