.c-button{

  --bg-color:var(--color-primary-5);
  --text-color: var(--color-white-1);

  padding: 10px; //Con variable
  margin-left: 20px; //Con variable
  background-color: var(--bg-color);
  color: var(--text-color);


  &--secondary {
    --bg-color: var(--color-white-1);
    --text-color: var(--color-primary-5);
  }

  &--alternativo {
    --text-color: var(--color-reds-5);
  }

}