.c-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 300px;

    &:hover {
        transform: scale(1.02);
        background-color: $g-color-backgroundId;
    }
}