.c-titulo-principal{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.c-titulo__secundario{
    font-size: 1.5em;
    font-weight: bolder;
}

.c-titulo__subtitulo{
    font-size: 1em;
}