.c-titulo-principal{
    text-align: center;
    font-size: 2rem;

    &--center{
        text-align: center;
    }
}

.c-titulo__secundario{
    font-size: 1.5em;

    &--center{
        text-align: center;
    }
}

.c-titulo__subtitulo{
    font-size: 1em;

    &--center{
        text-align: center;
    }
}

.c-texto-centrar{
    text-align: center; 
    
    
    &--verticalmente{
        display: flex;
        align-items: center;
        height: 65%;
    }
}